*{
    margin: 0;
}
body {
        background-color: palevioletred;

}
.card {
    width: 300px;
    height: 300px;
    border: 1px solid pink;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

img{
    width: 296px;
    height: 200px;
    object-fit: cover;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;

    
}

.section1 {
    position: relative;
    z-index: 10;
}

.hotHeading{
    color: rgb(228, 98, 119);
    font-size: 20px;
}

.sub-heading{
    position: absolute;
    bottom: 10px;
    margin-left: 2px;
    background-color: rgb(250, 180, 180);
    padding-right: 30px;
    padding-top: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

span {
    color: rgb(168, 158, 157);
}
p{
    padding-top: 10px;
    padding-left: 2px;
    color: rgba(238, 113, 102, 0.766);
}

.container {
    width: 300px;
    height: 310px;
    overflow: scroll;
}