* {
    margin: 0;
}

.screen {
    width: 100vw;
    height: 100vh;
    background-color: white;
    
    
}

.circle {
    width: 60vh;
    height: 60vh;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    margin-top: 20vh;
    
    
}